{% extends 'layouts/base.twig' %}
{% block body %}
    <h1>Login</h1>
    {{ validation_errors() }}
    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="{{ "#{base_url}login" }}" method="post">
        <label for="user">Username or Email</label>
        <input id="user" name="user" type="text" value="{{ user }}"/>

        <label for="password">Password</label>
        <input id="password" name="password" type="password"/>

        <input type="hidden" name="{{ csrf_token_name }}" value="{{ csrf_hash }}"/>

        <input type="submit" value="Login"/>
    </form>
{% endblock %}