{% extends 'layouts/admin.twig' %}

{% block title %}
    | {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ heading|raw }}</h1>
    <div class="alerts">
        {{ validation_errors() }}
        {% if message is defined %}
            {{ message|raw }}
        {% endif %}
    </div>
    {{ form|raw }}
{% endblock %}